[viewBag]
==
<section class="heading-page heading-services-list" style="background: url(&quot;img/backgrounds/heading-page-1.jpg&quot;) center center no-repeat;">
    <div class="container">
        <div class="heading-title">
            <h1>Our Products</h1>
        </div>
        <ul class="au-breadcrumb">
            <li class="au-breadcrumb-item">
                <a href="{{ 'home'|page }}">Home</a>
            </li>
            <li class="au-breadcrumb-item active">
                <a href="{{ ''|page }}">{{ this.page.title }}</a>
            </li>
        </ul>
    </div>
</section>