[viewBag]
snippetCode = "testimonials-full"
snippetName = "Testimonial - Volledige Breedte"

[testimonials]
==
{% if testimonials.testimonials %}
    <section class="testinmonials testinmonials-layout style-2">
        <div class="container">
            <div class="heading">
                <h3 class="heading-section">Wat onze klanten zeggen</h3>
            </div>
            <div class="testinmonial-wrapper owl-carousel" data-dots=".testinmonial-control">
                {% for testimonial in testimonials.testimonials %}
                    <div class="testinmonial-item style-2">
                        <div class="content">
                            <p>{{ testimonial.review }}</p>
                        </div>
                        <div class="personal">
                            <div class="avatar">
                                <img src="{{ testimonial.image.thumb(80,80,{'mode':'crop'}) }}" alt="{{ testimonial.name }}" />
                            </div>
                            <div class="info">
                                <div class="name">
                                    <span>{{ testimonial.name }}</span>
                                </div>
                                <div class="title-job">
                                    <span>{{ testimonial.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul class="owl-dots testinmonial-control">
                <li class="owl-dot active"></li>
                <li class="owl-dot"></li>
                <li class="owl-dot"></li>
            </ul>
        </div>
    </section>
{% endif %}