[viewBag]

[verzekeringen]
homeSwitch = 1
==
{% if verzekeringen.particulier %}
    <section class="product product-layout style-3">
        <div class="container">
            <div class="heading">
                <h3 class="heading-section">Particuliere Verzekeringen</h3>
            </div>
            <div class="sub-heading">
                <span>U kunt bij ons terecht voor onder andere de volgende verzekeringen</span>
            </div>
            <div class="row">
                {% for verzekering in verzekeringen.particulier %}
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item style-2 match-item">
                            <div class="icon">
                                <i class="fa {{ verzekering.icon }}"></i>
                            </div>
                            <div class="title">
                                {% if verzekering.fullswitch %}
                                    <a href="{{ 'verzekering-particulier'|page({ slug: verzekering.slug }) }}">{{ verzekering.title }}</a>
                                {% else %}
                                    <span>{{ verzekering.title }}</span>
                                {% endif %}
                            </div>
                            <div class="content">
                                <p>{{ verzekering.short_desc }}</p>
                            </div>
                            {% if verzekering.fullswitch %}
                                <div class="view-more">
                                    <a href="{{ 'verzekering-particulier'|page({ slug: verzekering.slug }) }}">Lees meer</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if verzekeringen.zakelijk %}
    <section class="product product-layout style-3">
        <div class="container">
            <div class="heading">
                <h3 class="heading-section">Zakelijke Verzekeringen</h3>
            </div>
            <div class="sub-heading">
                <span>U kunt bij ons terecht voor onder andere de volgende verzekeringen</span>
            </div>
            <div class="row">
                {% for verzekering in verzekeringen.zakelijk %}
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item style-2 match-item">
                            <div class="icon">
                                <i class="fa {{ verzekering.icon }}"></i>
                            </div>
                            <div class="title">
                                {% if verzekering.fullswitch %}
                                    <a href="{{ 'verzekering-zakelijk'|page({ slug: verzekering.slug }) }}">{{ verzekering.title }}</a>
                                {% else %}
                                    <span>{{ verzekering.title }}</span>
                                {% endif %}
                            </div>
                            <div class="content">
                                <p>{{ verzekering.short_desc }}</p>
                            </div>
                            {% if verzekering.fullswitch %}
                                <div class="view-more">
                                    <a href="{{ 'verzekering-zakelijk'|page({ slug: verzekering.slug }) }}">Lees meer</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}