description = "Default layout"
==
<?php

function onStart()
{
    $hex = $this->theme->color;
    list($r, $g, $b) = sscanf($hex, "#%02x%02x%02x");
    $this['rgb'] = $r.','.$g.','.$b;
}
?>
==
<!DOCTYPE html>
<html lang="nl">
    <head>
      {% partial 'head/meta' %}
			{% partial 'head/styles' %}
    </head>
    <body>
			<header>
				{% if this.page.id == 'home' %}
				{% partial 'nav/loader' %}
				{% endif %}
				{% partial 'nav/mobilenav' %}
				{% partial 'nav/topbar' %}
				{% partial 'nav/header' %}
				{% partial 'nav/mainnav' %}
			</header>
			{% page %}
			{% partial 'footer/footer' %}
			{% partial 'scripts/scripts' %}
    </body>
</html>