[viewBag]
==
<!-- Scripts-->
<script type="text/javascript" src="{{ 'assets/vendor/jquery/dist/jquery.min.js'|theme}}"></script>
<script type="text/javascript" src="{{[
		'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
		'assets/vendor/jQuery.mmenu/dist/js/jquery.mmenu.min.umd.js',
		'assets/js/mmenu-function.js',
		'assets/vendor/owl.carousel/dist/owl.carousel.min.js',
		'assets/js/owl-custom.js',
		'assets/vendor/revolution/js/jquery.themepunch.tools.min.js',
		'assets/vendor/matchHeight/dist/jquery.matchHeight-min.js',
		'assets/js/match-height-custom.js',
		'assets/js/custom.js',
]|theme}}" defer></script>

<script type="text/javascript" src="{{ 'assets/vendor/revolution/js/jquery.themepunch.revolution.min.js'|theme }}" defer></script>
<script type="text/javascript" src="{{ 'assets/js/revo-custom.js'|theme }}" defer></script>
{% scripts %}
{% framework extras %}